:root {
  color-scheme: light dark;
  color: #626F47;
  background-color: #FEFAE0;
  overflow: scroll;
  font-family: 'Lato', sans-serif;
}

button {
  font-family: 'Lato', sans-serif;
  color: #FEFAE0;
  font-size: medium;
  border-style: none;
  width: 10%;
  height: 30px;
  border-radius: 15px;
  background-color: #A4B465;
}
