.navigation {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.navigation div {
    margin: auto;
}

/* list/grid toggle */

.view-toggle {
    display: flex;
}

.view-toggle span {
    margin-top: auto;
    margin-bottom: auto;
}

.toggle {
    background-color: #A4B465;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    display: flex;
    border-style: none;
}

.toggle-ball {
    background-color: #FEFAE0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

/* filter/sort buttons */

.navigation .organize-button {
    margin: auto;
    color: #FEFAE0;
    font-size: medium;
    font-family: 'Lato', sans-serif;
    border-style: none;
    width: 10%;
    height: 30px;
    border-radius: 15px;
    background-color: #A4B465;
}

